<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="licielrsync.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="licielrsync"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <licielrsync.My.MySettings>
            <setting name="ForceUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentProfile" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Locales" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Location_Frame" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size_Frame" serializeAs="String">
                <value>854, 707</value>
            </setting>
            <setting name="SplitterDistance_Splitter1" serializeAs="String">
                <value>490</value>
            </setting>
            <setting name="ShowInTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayNoticeStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>-1</value>
            </setting>
        </licielrsync.My.MySettings>
    </userSettings>
</configuration>
